*{
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Arial;
}
.quiz-app{
margin: 20px auto;
width: 800px;
background-color: #f8f8f8;
padding: 15px;
}

.quiz-app .quiz-info{
display: flex ;
padding: 20px;
background-color: white;
}
.quiz-app .quiz-info .category{
flex: 1;
}
.quiz-app .quiz-info .count{
flex: 1;
text-align: right;
}

.quiz-app .Quiz-area{
    background-color: white;
    padding: 20px;
    margin-top: 15px;
}
.quiz-app .Quiz-area h2{
    margin: 0;
}
.asnwers-area{
    background-color: white;
    padding: 0 20px 20px;
}
.asnwers-area .answer{
 padding: 15px;
 background-color: #f9f9f9;
}
.asnwers-area .answer:not(:last-child){
border-bottom: 1px solid rgb(230, 228, 228);
}
.asnwers-area .answer input[type="Radio"]:checked + label {
color: #1fa8c7;
}
.asnwers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px ;
    position: relative;
    top: -2px;
}
.quiz-app .submit-button{
background-color: #1fa8c7;
display: block;
width: 95%;
padding: 10px 15px;
border: none;
color: white;
font-size: 18px;
font-weight: bold;
cursor: pointer;
border-radius: 6px;
margin: 20px auto;
}
.quiz-app .submit-button:focus{
outline: none;
}
.quiz-app .bullets {
border-top: 1px solid #c1bcbc;
background-color: white;
display: flex;
padding: 20px;
}
.quiz-app .bullets .spans{
flex: 1;
display: flex;
}
.quiz-app .bullets .spans span{
width: 25px;
height: 25px;
background-color: #ddd;
margin-right: 5px;
border-radius: 50%;
}
.quiz-app .bullets .spans span.on{
background-color:#1fa8c7;
}

.quiz-app .results span{ 
font-weight: bold;

}
.quiz-app .results span.bad{ 
    color: red;
    
    }
    .quiz-app .results span.good{ 
        color: #1fa8c7;
        
        }
        .quiz-app .results span.perfect{ 
            color: green;
            
            }